extends ./layouts/layout

block contenido
    main.container.py-5
        .row
            .col-md-4 
                img(src="./img/nosotros.jpg", alt="Imagen de nostros" class="img-fluid")
            .col
                h1.text.center= pagina 

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere tincidunt nunc. Maecenas volutpat orci ac condimentum luctus. Proin a tortor lacinia, imperdiet eros sit amet, ullamcorper metus. Aenean tristique a enim eu convallis. In pulvinar mauris at porttitor mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sollicitudin urna ac hendrerit bibendum. Integer sit amet quam non lectus consequat gravida. Ut neque urna, efficitur eget lectus ut, tincidunt ultricies lorem.

                p Praesent leo velit, vehicula sit amet ligula a, interdum mollis lacus. Phasellus at luctus metus, at consequat ex. Suspendisse dictum mauris mauris, eu tempus lorem sodales eget. Etiam arcu erat, efficitur eu ex vitae, tincidunt pharetra massa. Ut egestas orci odio, et bibendum lorem luctus vitae. Fusce id urna vel nisl volutpat finibus.

                p Maecenas in felis nulla. Phasellus condimentum orci non augue sollicitudin maximus. Aliquam dictum, nulla non euismod dignissim, eros nisi sodales orci, nec placerat mi lacus id enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque quis eros velit. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row.justify-content-center
                .col.col-md-4
                    img(src="./img/icono_seguridad.svg", alt="Icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas in felis nulla. Phasellus condimentum orci non augue sollicitudin maximus.
                .col.col-md-4
                    img(src="./img/icono_destinos.svg", alt="Icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas in felis nulla. Phasellus condimentum orci non augue sollicitudin maximus.
                .col.col-md-4
                    img(src="./img/icono_precios.svg", alt="Icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas in felis nulla. Phasellus condimentum orci non augue sollicitudin maximus.
                